@{
    ViewBag.Title = "INDEX - MY TOOLS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>This is my web tool only contains some private api.</p>
        <small>--peter</small>
    </div>
</div>
